<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Send 2.0 Reference App CPM (Customer Parameter Management) APIs
    </title>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
            charset="utf-8"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <script src="/assets/js/environment.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
</head>

<body>
<div class="container-fluid m-0 p-0 component-div">
    <!-- Main Header Start Here -->
    <div
            class="row mt-4 d-flex justify-content-center align-items-center header-border-bottom pb-3"
    >
        <div
                class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center"
        >
            <img
                    class="mastercard-logo"
                    src="../assets/images/mc_symbol_opt_73_3x.png"
                    alt="Mastercard Logo"
            />
            <label class="mastercard-label mb-0"> Mastercard® </label>
        </div>
        <div
                class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 d-flex justify-content-start align-items-center"
        >
            <label class="cpm-main-label mt-3 pl-5">
                CPM (CUSTOMER PARAMETER MANAGEMENT) APIS
            </label>
        </div>
    </div>
    <!-- Main Header End Here -->

    <div class="row mt-4 d-flex justify-content-center mb-5 pl-5 pr-5">
        <div
                class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 d-flex align-items-center"
        >
            <a href="/" class="text-decoration-none">
                <img
                        class="back-logo"
                        src="/assets/images/back_icon@2x.png"
                        alt="Back Logo"
                />
            </a>
        </div>
        <label class="">
            Select the API from the below list to check the response
        </label>
    </div>

    <div
            class="row mt-4 d-flex justify-content-center mb-5 dashboard-api-box"
    >
        <div
                class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4 padding-main-box"
        >
            <div class="row dashboard-api-sub-box">
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0"
                >
                    <label class="dashboard-menu-label mb-0">
                        PARTNER
                    </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 mb-5"
                >
                    <label class="dashboard-menu-label"> LIMITS </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 pb-3 pt-2 api-border-bottom"
                >
                    <div class="row">
                        <a
                                onclick="location.href='retrieve-partner-limit.html';"
                        >
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded mb-0">
                                    RETRIEVE
                                </label>
                            </div>
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded">
                                    PARTNER LIMIT
                                </label>
                            </div>
                        </a>
                    </div>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 pt-4 mb-4"
                >
                    <div class="row">
                        <a
                                onclick="location.href='update-partner-limit.html';"
                        >
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded mb-0">
                                    UPDATE
                                </label>
                            </div>
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded">
                                    PARTNER LIMIT
                                </label>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div
                class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4 padding-main-box"
        >
            <div class="row dashboard-api-sub-box">
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0"
                >
                    <label class="dashboard-menu-label mb-0">
                        TRANSFER
                    </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0"
                >
                    <label class="dashboard-menu-label mb-0">
                        ACCEPTOR
                    </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 mb-2"
                >
                    <label class="dashboard-menu-label"> LIMITS </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 pb-3 pt-2 api-border-bottom"
                >
                    <div class="row">
                        <a
                                onclick="location.href='add-daily-limit.html';"
                        >
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded mb-0">
                                    ADD DAILY
                                </label>
                            </div>
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded">
                                    LIMIT
                                </label>
                            </div>
                        </a>
                    </div>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 pt-4 mb-4"
                >
                    <div class="row">
                        <a
                                onclick="location.href='update-daily-limit.html';"
                        >
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded mb-0">
                                    UPDATE
                                </label>
                            </div>
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded">
                                    DAILY LIMIT
                                </label>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div
                class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4 padding-main-box"
        >
            <div class="row dashboard-api-sub-box">
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0"
                >
                    <label class="dashboard-menu-label mb-0">
                        ACCOUNT
                    </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 mb-5"
                >
                    <label class="dashboard-menu-label"> LIMITS </label>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 pb-3 pt-2 api-border-bottom"
                >
                    <div class="row">
                        <a
                                onclick="location.href='add-account-limit.html';"
                        >
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded mb-0">
                                    ADD ACCOUNT
                                </label>
                            </div>
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded">
                                    LIMIT
                                </label>
                            </div>
                        </a>
                    </div>
                </div>
                <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start pl-0 pt-4 mb-4"
                >
                    <div class="row">
                        <a
                                onclick="location.href='update-account-limit.html';"
                        >
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded mb-0">
                                    UPDATE
                                </label>
                            </div>
                            <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start"
                            >
                                <label class="api-name-shaded">
                                    ACCOUNT LIMIT
                                </label>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
